

.topbar {
    list-style: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 30px 0 30px 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    font-style: normal;
    color: #FF0000;


}

.topbar-item {
    display: inline-block;
    margin: 0 36px;
    font-weight: bold;
    width: 140px;
    height: 27px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-style: normal;
    letter-spacing: 2.7px;
    color: #FF0000;

}



.link-title {
    color: #FF0000;
}

.main-image {
    margin-bottom: 40px;


}

.title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3.3px;
    margin-bottom: 50px;




}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    padding-right: 70px;
    padding-left: 70px;
    color: #373737;



}

.main-text {

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    margin-bottom: 65px;
    padding-left: 70px;
    padding-right: 70px;
    color: #373737;
}

.button {
    font-family: Montserrat;
    font-style: normal;
    background: #FF0000;
    border-radius: 4px;
    color: #ffff;
    width: 191px;
    height: 51px;
    left: 540px;
    top: 557px;
    border-radius: 10px;
    align-self: flex-start;
    margin: 65px 600px 85px

}
.position-button {
    padding-left: 600px;

}

.text-button {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

.copyright {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
    padding-left: 800px;


}

.position-copy {
    margin-left: 105px;
    margin-right: 105px;
}
